body{

    margin: 20px;
    padding: 0;
    background: #333; 

}

.container {

    max-width: 760px;
    margin: auto; /* move to middle */
    border: #fff solid 3px;
    background: #fff;
     
}

.main-img img, .imgs img {

    width: 100%; /* fits inside container */

}

/* GRID CSS */
.imgs {

    display: grid;

    /* 4 images per column */
    grid-template-columns: repeat(4, 1fr); 

    /* Add spacing between grid images */
    grid-gap: 5px;
    

}

/* FADE-IN ANIMATION */

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


.fade-in{
         
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;

}